<!DOCTYPE html>
<html lang="pt-BR">
<header>

<img src="~/Imagens/Group 25.png " alt="">

</header>
    
<main>

    <img src="background.png" alt="banner">
    @* TODO O MEU CONTEUDO DE DENTRO *@

 <article class="Layout-Grid">

    <form action="">
        <h3>Acesse sua conta</h3>
        <div class="label_input">
            <label for="">E-mail</label>
            <input type="email">
        </div>
        <div class="label_input">
            <label for="">Senha</label>
            <input type="password">
        </div>
        <a href="">Acessar</a>
    </form>

 </article>
</main>



</html>






